@page "/posts"

<h5>Post page</h5>
@if (user != null)
{
    <span>Test Cascading user:</span>
    <div>User Id: @user.Id</div>
    <div>Username: @user.Username</div>
    <div>Email: @user.Email</div>
}

@code {
    [CascadingParameter]
    public UserDto user { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (user == null) return;

        // Test cascading user
        var userId = user.Id;
        var username = user.Username;
    }
}
