<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container">
    <a class="navbar-brand" href="">Dashboard</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainnavbar" aria-controls="mainnavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainnavbar">
        <ul class="navbar-nav me-auto">            
        <AuthorizeView>
            <NavLink class="nav-link" href="/posts">Posts</NavLink>    
            <NavLink class="nav-link" href="/files">Files</NavLink>
        </AuthorizeView>
        </ul>
      <div class="d-flex">
        <AuthorizeView>
            <Authorizing>
                <span>Loading...</span>
            </Authorizing>
            <Authorized>
                <span>@context.User.Identity?.Name</span>
                &nbsp; &nbsp;
                <NavLink href="/login">Logout</NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink href="/login">Login</NavLink>
            </NotAuthorized>
         </AuthorizeView>
      </div>
    </div>
  </div>
</nav>
