<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <div class="container" style="min-height: 320px;">
                        <p class="p-5">You're not log in yet. You're redirected to Log In page...</p>
                    </div>
                    <RedirectToLoginPage />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Page Not found</PageTitle>
            <HeadContent>
                <meta name="robots" content="noindex" />
            </HeadContent>
            <LayoutView Layout="@typeof(BlankLayout)">
                <div class="container">
                    <h5>Page Not Found</h5>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
