@page "/files"

<PageTitle>Files</PageTitle>

<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Files</li>
  </ol>
</nav>

<FileGallery />

@code {

}
