@page "/"

<button @onclick="RunTest">Click me</button>
@message

@code {

    [Inject]
    public ITToast Toast { get; set; }


    private string message = "Not clicked yet.";



    private void RunTest()
    {
        message = "Run Test";

        Toast.Show("Test title", "Test message", "success");

        message = "Run Test Finish";
    }
}